<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FIFA-emonitor</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="mainnav">
        <li class="active"><a href="#tweetslang">Язык твитов</a></li>
        <li class=""><a href="#tonalcountry">Тональность сообщений</a></li>
        <li class=""><a href="#topkeywords">Топ 5 ключевых слов</a></li>
        <li class=""><a href="#summaryemo">Эмоциональный фон</a></li>
        <li><a href="#emocountry">Эмоции по странам</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img class="logo" src="images/title1.png">
    </div>
  </div>
</div>

<div class="container" id="tweetslang">
  <h2>Язык твитов</h2>
  <hr>
  <p class="bigger">
    <em>При клике на сектор диаграммы справа появится подробная информация по языку на время чемпионата</em>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="chart-container">
        <div id="chart_div1"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chart-container">
        <div class="dayspolar" id="chart_days_polarityRU" style=""></div>
        <div class="dayspolar" id="chart_days_polarityEN" style=""></div>
        <div class="dayspolar" id="chart_days_polarityFR" style=""></div>
        <div class="dayspolar" id="chart_days_polarityES" style=""></div>
        <div class="dayspolar" id="chart_days_polarityPT" style=""></div>
      </div>
      <div class="chart-container">
        <div class="daysemo" id="chart_days_emoRU" style=""></div>
        <div class="daysemo" id="chart_days_emoEN" style=""></div>
        <div class="daysemo" id="chart_days_emoFR" style=""></div>
        <div class="daysemo" id="chart_days_emoES" style=""></div>
        <div class="daysemo" id="chart_days_emoPT" style=""></div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="cloudwords">
  <h2>Облако слов</h2>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div id="cloud-top-words" style="width: 100%; height: 250px;"></div>
    </div>
  </div>
</div>

<div class="container" id="tonalcountry">
  <h2>Тональность сообщений по странам</h2>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div class="chart-container">
        <div id="chart_div0"></div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="large">
        Experiment with all the data we collected.
      </p>
      <hr>
      <p class="bigger">
        <em>Do angry people tilt their heads more strongly? And what is a characteristic mood for people in Moscow? Find out!</em>
      </p>
      <hr>
    </div>
  </div>
</div>

<div class="container" id="topkeywords">
  <h2>Топ 5 ключевых слов</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-pt"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-en"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-es"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-fr"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="chart-container">
        <div id="chart-topkeywords-ru"></div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="summaryemo">
  <h2>Обобщенный эмоциональный фон</h2>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div class="chart-container">
        <div id="chart_div4"></div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="large">
        Experiment with all the data we collected.
      </p>
      <hr>
      <p class="bigger">
        <em>Do angry people tilt their heads more strongly? And what is a characteristic mood for people in Moscow? Find out!</em>
      </p>
      <hr>
    </div>
  </div>
</div>

<div class="container" id="emocountry">
  <h2>Эмоции по странам</h2>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div class="chart-container">
        <div id="chart_div5"></div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="large">
        Experiment with all the data we collected.
      </p>
      <hr>
      <p class="bigger">
        <em>Do angry people tilt their heads more strongly? And what is a characteristic mood for people in Moscow? Find out!</em>
      </p>
      <hr>
    </div>
  </div>
</div>




<div class="container">
  <h2>Команда разработки</h2>
  <hr>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/alexander.jpg">
        </div>
        <h3 class="title">Александр Никифоров</h3>
        <span class="post">Независимый Frontend-разработчик</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/vasily.jpg">
        </div>
        <h3 class="title">Василий Комаров</h3>
        <span class="post">Студент 3 курса, ИнФО ИСиТ</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/ivan.jpg">
        </div>
        <h3 class="title">Иван Ситников</h3>
        <span class="post">Студент 3 курса, ИнФО ИСиТ</span>
      </div>
    </div>
  </div>
</div>


