<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FIFA-emonitor</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="mainnav">
        <li class="active"><a href="#aboutProject">О проекте</a></li>
        <li class=""><a href="#tweetslang">Язык твитов</a></li>
        <li class=""><a href="#tonalcountry">Тональность сообщений</a></li>
        <li class=""><a href="#topkeywords">Топ 5 ключевых слов</a></li>
        <!--<li class=""><a href="#summaryemo">Эмоциональный фон</a></li>-->
        <li><a href="#emocountry">Эмоции по языкам</a></li>
        <li><a href="#devteam">Команда разработки</a></li>
        <li><a href="#helpteam">Наши Кураторы</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img class="logo" src="images/title1.png">
    </div>
  </div>
</div>

<div class="container" id="aboutProject">
  <h2>О проекте</h2>
  <hr>
  <p class="larger">
    Сегодня, все ускоряющееся появление новых технологий приводит не просто к технологизации нашей жизни, но и к изменению образа жизни, появлению новых способов коммуникации в обществе, изменению нашей культуры.  Лучше всего это видно в области ИТ-технологий, которые  стали  не просто объектом разработки, но и объектом исследования. На сегодняшний день социологические, маркетинговые и многие другие исследования проводятся в цифровом пространстве. Понимание коммуникативных процессов происходящих в «цифре» (например в соц. сетях) является на сегодняшний день объектом исследований многих междисциплинарных коллективов. При этом, зачастую, возникает вопрос о связях тех или иных коммуникационных процессов с реальностью. Определение и интерпретация цифрового следа «события» происходящего в реальном мире является не тривиальной задачей.
  </p>
  <p class="larger">
    Современное общество неразрывно связано с социальными сетями. Многие уже с трудом могут представить себе жизнь без использования Вконтакте, Facebook, Twitter и других социальных сетей. Значительную часть времени мы тратим на переписку с друзьями, чтение постов, просмотр фотографий и видео.  Все эти действия отражают психо- эмоциональное состояние конкретного человека и в целом формируют портрет его цифрового двойника.  </p>
  <p class="larger">
    Переходя на более высокий уровень и рассматривая информацию из социальных сетей у десятков, сотен и даже тысяч людей, мы сможем в некотором приближении определить социокультурные процессы происходящие в обществе.  </p>
  <p class="larger">
    Наиболее значимым событием последних дней бесспорно является Чемпионат мира по футболу,  проходивший в России с 14 июня по 15 июля 2018. Такое крупное событие определенно оставило след не только в головах людей, но и отразилась в их социальных сетях.
  </p>
  <p class="larger">
    Наша работа посвящена анализу цифрового следа, оставшегося от Чемпионата мира. Целью этой работы является сбор данных для последующей междисциплинарной аналитики цифрового следа ЧМ-2018. За основу была взята такая социальная сеть, как Twitter.  </p>
  <p class="larger">
    В рамках этой работы мы выгрузили более 1 млн. сообщений, в которых содержались официальные хэштеги чемпионата. </p>
  <p class="larger">
    Далее был определен язык сообщений и все сообщения были разбиты по самым часто встречающимся языкам: Русский, Английский, Французский, Испанский, Португальский.  </p>
  <p class="larger">
    Затем, из каждого сообщения были извлечены ключевые слова (например, “Россия - чемпион”) и именованные сущности (например, “Игорь Акинфеев”).  </p>
  <p class="larger">
    Также для каждого сообщения была определена общая тональность (позитивная или негативная), а также базовые эмоции, содержащиеся в нем: </p>
    <ul class="larger">
    <li>1)	Радость</li>
  <li>2)	Гнев</li>
  <li>3)	Печаль</li>
  <li>4)	Страх</li>
  <li>5)	Отвращение</li>
    </ul>
  <p class="larger">
    Итогом нашей работы стало отражение общей информации о всех твитах в виде интерактивных графиков и диаграмм, которые Вы сможете увидеть на этой странице. </p>

  <hr>
  <p class="bigger">
    Работа была выполнена студентами ИнФО и ИРИТ-РТФ в рамках проектного практикума.  </p>
  <hr>
</div>

<div class="container" id="tweetslang">
  <h2>Язык твитов</h2>
  <hr>
  <p class="bigger">Данные графики позволяют оценить долю положительных и отрицательных сообщений для каждого языка в различные дни. Кроме того, они позволяют увидеть распределение сообщений по типам эмоций и преобладающую эмоцию в каждый из дней для всех рассматриваемых языков.</p>
  <p class="bigger">
    <em>При клике на сектор диаграммы справа появится подробная информация по языку на время чемпионата</em>
    <br>
    <em> 1) Первый график отражает долю позитивных и негативных сообщений для данного языка</em>
    <br>
    <em> 2) Второй график отражает долю эмоций в сообщениях на этом языке</em>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="chart-container">
        <div id="chart_div1"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chart-container">
        <div class="dayspolar" id="chart_days_polarityRU" style=""></div>
        <div class="dayspolar" id="chart_days_polarityEN" style=""></div>
        <div class="dayspolar" id="chart_days_polarityFR" style=""></div>
        <div class="dayspolar" id="chart_days_polarityES" style=""></div>
        <div class="dayspolar" id="chart_days_polarityPT" style=""></div>
      </div>
      <div class="chart-container">
        <div class="daysemo" id="chart_days_emoRU" style=""></div>
        <div class="daysemo" id="chart_days_emoEN" style=""></div>
        <div class="daysemo" id="chart_days_emoFR" style=""></div>
        <div class="daysemo" id="chart_days_emoES" style=""></div>
        <div class="daysemo" id="chart_days_emoPT" style=""></div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="cloudwords">
  <h2>Облако слов</h2>
  <hr>
  <p class="bigger">
    <em>С помощью этого облака слов возможно оценить, какие ключевые слова преобладали в сообщениях на всех языках в ходе ЧМ-2018.</em>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div id="cloud-top-words" style="width: 100%; height: 250px;"></div>
    </div>
  </div>
</div>

<div class="container" id="tonalcountry">
  <h2>Тональность сообщений по языкам</h2>
  <hr>
  <p class="bigger">
    <em>Данный график позволяет увидеть интегральное представление общего эмоционального фона для каждого языка, во время проведения ЧМ-2018 по футболу.
      На графике можно увидеть, что самые позитивные пользователи – это русскоговорящие, а самые негативные – это франкоговорящие.
    </em>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="chart-container">
        <div id="chart_div0"></div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="topkeywords">
  <h2>Топ 5 ключевых слов по языкам</h2>
  <hr>
  <p class="bigger">
    <em>Визуализация ключевых слов для каждого языка позволяет увидеть, те слова и словосочетания которые пользователи Twitter чаще всего употребляли в своих сообщениях, на каждом конкретном языке.</em>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-pt"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-en"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-es"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-container">
        <div id="chart-topkeywords-fr"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="chart-container">
        <div id="chart-topkeywords-ru"></div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container" id="summaryemo">-->
  <!--<h2>Обобщенный эмоциональный фон</h2>-->
  <!--<hr>-->
  <!--<div class="row">-->
    <!--<div class="col-md-8">-->
      <!--<div class="chart-container">-->
        <!--<div id="chart_div4"></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<p class="large">-->
        <!--Experiment with all the data we collected.-->
      <!--</p>-->
      <!--<hr>-->
      <!--<p class="bigger">-->
        <!--<em>Do angry people tilt their heads more strongly? And what is a characteristic mood for people in Moscow? Find out!</em>-->
      <!--</p>-->
      <!--<hr>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container" id="emocountry">
  <h2>Эмоции по языкам</h2>
  <hr>
  <p class="bigger">
    <em>Данный визуализатор позволяет увидеть общее распределение эмоций, отраженных в сообщениях в социальной сети Twitter для каждого языка, а также доминирующую эмоцию в каждой языковой группе во время ЧМ-2018 в России. Так, например, для русскоговорящих пользователей в сообщениях в основном преобладал гнев, для других пользователей распределение эмоций, в целом было одинаковое.</em>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="chart-container">
        <div id="chart_div5"></div>
      </div>
    </div>
  </div>
</div>


<div class="container" id="devteam">
  <h2>Команда разработки</h2>
  <hr>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/alexander.jpg">
        </div>
        <h3 class="title">Александр Никифоров</h3>
        <span class="post">Независимый Frontend-разработчик</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/vasily.jpg">
        </div>
        <h3 class="title">Василий Комаров</h3>
        <span class="post">Студент 3 курса, ИнФО ИСиТ</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/ivan.jpg">
        </div>
        <h3 class="title">Иван Ситников</h3>
        <span class="post">Студент 3 курса, ИнФО ИСиТ</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/hlebnikov.jpg">
        </div>
        <h3 class="title">Николай Хлебников</h3>
        <span class="post">Уральский Федеральный Университет,<br>руководитель проекта</span>
      </div>
    </div>
  </div>
</div>

<div class="container" id="helpteam">
  <h2>Наши кураторы</h2>
  <hr>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/yamshikov.png">
        </div>
        <h3 class="title">Ямщиков И.П.</h3>
        <span class="post">Институт Макса Планка, Лейпциг</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/komockiy.png">
        </div>
        <h3 class="title">Комоцкий Е.И.</h3>
        <span class="post">Уральский Федеральный Университет <br>Институт: Высшая школа экономики и менеджмента</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/fadichev.png">
        </div>
        <h3 class="title">Фадичев Б.А.</h3>
        <span class="post">Relation Rate</span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-team">
        <div class="pic">
          <img src="/images/chubarov.png">
        </div>
        <h3 class="title">Чубаров И.М.</h3>
        <span class="post">Тюменский государственный университет</span>
      </div>
    </div>
  </div>

  <div class="row partners">
    <div class="col-md-3 col-sm-6">
      <div class="pic">
      <img src="/images/planck.png">
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="pic">
      <img src="/images/urfu.png">
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="pic">
      <img src="/images/rr.png">
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="pic">
      <img src="/images/tumen.png">
      </div>
    </div>
  </div>
</div>



