<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/chartCountryEmo.js"></script>
    <script type="text/javascript" src="/javascripts/chartEmoSummary.js"></script>
    <script type="text/javascript" src="/javascripts/chartTopKeywords.js"></script>
    <script type="text/javascript" src="/javascripts/chartTonCountry.js"></script>
    <script type="text/javascript" src="/javascripts/chartTweetsLang.js"></script>
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
